.intro-bootcamp{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;

}
.bootcamp-descript{
    width: 400px;
    flex-grow: 1;
    background-image: url('../../assets/banner_section_Mesa de trabajo 1 copia.png');
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;
    margin-top: 70px;

}
.bootcamp-descript p{
    font-size: 18px;
    margin-top: -20px;
}
.bootcamp-img{
    width: 500px;
    height: 100%;
    flex-grow: 2;
    background-image: url('https://scontent.fmex6-1.fna.fbcdn.net/v/t31.0-8/28698604_1973144766082686_589124668727305128_o.jpg?_nc_cat=106&_nc_oc=AQnwFz_vHgdIYAyTU1FxakCgl3fkxvwbQBibZBanSW6jQ-KjRsV6IQnM-J1yFsWiD9M&_nc_ht=scontent.fmex6-1.fna&oh=1d59fb9f541cbc8f0126e1278b7d13b4&oe=5DA4579E');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.summary{
    padding: 16px 2% 50px 2%;
    box-sizing: border-box;

}
.summary p{
    font-size: 16px;
}
.summary h4{
    font-size: 18px;
}
.ant-tabs-nav .ant-tabs-tab-active{
    color:#ca3e47 !important;
}
.ant-tabs .ant-tabs-ink-bar{
    background-color: #ca3e47;
}
.ant-tabs-nav .ant-tabs-tab:hover{
    color:#ca3e47 !important;
}

.textos{
    color:#525252;
    font-size: 18px;
}
.summary span{
    color:#ca3e47;
}

.how{
    width: 100%;
    padding: 50px 10%;
    background-color: #f5f5f5;
}
.box-steps{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.steps{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}
.step-img{
    height: 150px;
    width: 200px;
    background-position: center;
    background-size: cover;
    margin: 0 20px 0 0;
}
.photo1{
    background-image: url("../../assets/ember.jpg");
}
.photo2{
    background-image: url("../../assets/git.jpg");
}
.photo3{
    background-image: url("../../assets/reto.jpg");

}
.photo4{
    background-image: url("../../assets/17492500_1522831704447330_3133267459982867769_o.jpg")
}
.circle-white{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    left: 175px;
    top:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-white img{
    width: 60%;
}
.step-descript{
    width: 200px;
    margin: 0 0 0 20px;
}
.invite{
    width: 100%;
    padding: 50px 10%;
    text-align: center;
}
.invite p{
    font-size: 18px;
}
.apply{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}
.apply-box{
    width: 50%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    padding: 2% 3% 2% 3%;
    background-color: white;
    margin-top: 70px;
    height: 400px;
}
.apply .ant-btn-primary{
    margin: 0 10px;
}
.ant-steps-item-process .ant-steps-item-icon{
    background: #ca3e47 !important;
}
.ant-steps-item-process .ant-steps-item-icon, .ant-steps-item-finish .ant-steps-item-icon{
    border-color: #ca3e47 !important;
}
.ant-btn-primary{
    background-color: #ca3e47 !important;
    border-color: #ca3e47 !important;
}
.ant-steps-item-icon > .ant-steps-icon{
    color: #ca3e47 !important;
}
.ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title::after{
    background-color: #ca3e47 !important;

}


.ant-btn:hover, .ant-btn:focus{
    color: #ccc !important;
    border-color: #ca3e47 !important;

}
.step{
    margin: 30px 0;
}
.ant-input:hover{
    border-color: #ca3e47 !important;

}
.pay-fl{
    display: flex;
    justify-content: space-between;
}
.pay-fl label{
    width: 30%;
}

/*
CARD*/

.deactivated{
    pointer-events: none;
    background-color:lightgray;
    color:white;
}

.card-l{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    height: auto;
    min-height: 120px;
    background-color: white;
    /*
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
    */
    /*box-shadow: 4px 4px 8px -4px rgba(0,0,0,0.08);*/
    -webkit-box-shadow: 4px 4px 17px -2px rgba(204,204,204,0.4);
    -moz-box-shadow: 4px 4px 17px -2px rgba(204,204,204,0.4);
    box-shadow: 4px 4px 17px -2px rgba(204,204,204,0.4);
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;
    box-sizing: border-box;
    transition: all 1s ease;
    cursor: pointer;

}

.card-task{
    width: 250px;

    height: auto;
    min-height: 120px;
    background-color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);

    box-sizing: border-box;
    transition: all 1s ease;
    cursor: pointer;
}

.complete{
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.complete p{
    margin: 0;
}

.card-l h2{
    font-size: 16px !important;
}
.card-l p{
    font-size: 14px;
}

.box-lessons{
    width: 100%;
    padding: 0;
}
.btn-see{
   /* width: 120px;
    height: 40px;
    background-color: white;
    border: 1px solid #ca3e47;*/
    text-transform: uppercase;
    color: #ca3e47;
    font-weight: bolder;
    cursor: pointer;
    transition: all 1s ease;
    font-size: 14px;
    margin: 0 20px;

}
.card-l:hover, .card-task:hover{
   box-shadow:0 14px 25px rgba(0,0,0,0.16);

}


/*CAMP*/
.camp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px 5% 50px 5%;
}
.camp-descript{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    padding: 2% ;
    box-sizing: border-box;
}
.camp-info{
    padding-bottom: 15px;
    min-height: 404px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    color:#666;
    box-sizing: border-box;
    transition: all 1s ease;
    font-family: Avenir;
    border-radius: 8px;
}
.camp-dates{
    width: 100%;
    min-height:200px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    color:#666;
    box-sizing: border-box;
    transition: all 1s ease;
    font-family: Avenir;
    border-radius: 8px;
    margin-top: 24px;

}
.camp-dates div{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 4%;
    cursor: pointer;
}
.camp-dates div span{
    opacity: .5;
}

.camp-dates div p{
    margin: 0;
}

.camp-dates-week{
    transition:all .3s ease;
}

.camp-dates-week:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}
.camp-dates-week.active{
    background-color: #ca3e47;
    color:white;
}

.camp-banner{
    width: 100%;
    height: 80px;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.camp-avatar img{
    width: 40px;
    position: relative;
    top:-20px;
    left: 20px;
    border: 4px solid white;
}
.camp-task{
    width: 800px;
    max-height: 628px;
    flex-grow: 1;
    padding: 2% 0 2% 0%;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    color:#666;
    transition: all 1s ease;
    font-family: Avenir;
    border-radius: 8px;
    margin-top: 24px;
    overflow-y: scroll;
}
.btn-in{
    outline: none;
    width: 100%;
    height: 32px;
    background-color: white;
    border-radius: 16px;
    border: 1px solid #cccccc;
    cursor: crosshair;
    color:green;
}
.btn-pre:hover{
    background-color: orange;
    color:white;
}
.btn-pre{
    transition:all .3s ease;
    outline: none;
    width: 100%;
    height: 32px;
    background-color: white;
    border-radius: 16px;
    border: 1px solid #cccccc;
    cursor: pointer;
    color:orange;
    margin-top: 10px;
}

@media (max-width: 890px) {
    .bootcamp-img{
        width: 300px;
    }
    .box-steps{
        justify-content: center;
    }
    .apply{
        height: auto;
    }
    .apply-box{
        width: 70%;
        height: auto;
        margin: 100px 0 30px 0;

    }
    .camp-descript{
        width: 100%;
        justify-content: space-between;
        padding: 2% 0px;
    }
    .camp-dates, .camp-info{
        width: 320px;
    }
    .camp-dates{
        margin-top: 0px;
    }

}

@media (max-width: 550px) {
    .intro-bootcamp{
        height: auto;
    }
    .bootcamp-img{
        height: 200px;
    }
    #tp{
        margin-top: 0px !important;
    }
    .summary{
        margin-top: 32px;
        height: auto;
        padding: 0 5%;
    }
    .summary p{
        font-size: 14px;
    }
    .summary h4, .invite p{
        font-size: 16px;
    }
    .subtitulos{
        margin-bottom: 20px;
    }
    .steps{
        justify-content: center;
        margin: 10px 0;
    }
    .how, .invite{
        padding: 30px 10%;
    }
    .step-img{
        margin: 0;
        width: 250px;
    }
    .step-descript{
        width: 250px;
        margin: 5px 0 0 0;
    }
    .card-l{
        flex-wrap: wrap;
        padding:5% ;
        margin-bottom: 20px;
    }
    .btn-see{
        margin: 20px 0 0 0;
    }
    .apply-box{
        width: 90%;
        padding: 5%;
        box-sizing: border-box;
    }

    .step{
        margin: 20px 0;
    }
    .steps-content{
        padding-bottom: 0px;
    }
    .ant-form-item-control{
        line-height: 20px !important;
    }


}