.course-card{
    width: 280px;
    height: 300px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    color:#666;
    padding: 3% 2%;
    box-sizing: border-box;
    transition: all 1s ease;
    margin: 20px 0;
    font-family: Avenir;

}
.course-card a, .course-card:hover a{
    color:inherit;
}
.course-card hr{
    background-color: #cccccc;
    height: 1px;
    border: none;
    opacity: .2;
}
.box-badge{
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}
.badge{
    width: 80%;

}
.box-curso{
    display: flex;
    height: 50px;
    align-items: center;
}
.author-photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}
.autor-info{
    margin-left: 20px;
}
.autor-info h4{
    font-size: 18px;
    margin: 0 0 4px 0;
}
.autor-info p{
    font-size: 12px;
    margin: 0;

}
.autor-info span{
    color:#ca3e47;
}
.price{
    background-color:#ca3e47;
    color:white;
    width: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1%;
    text-align: center;
    opacity: 0;
}

.course-card:hover{
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transform: scale(1.1);

}
.course-card:hover .price{
    opacity: 1;
}
