.intro-courses{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;

}
.courses-descript{
    width: 400px;
    flex-grow: 1;
    background-image: url('../../assets/banner_section_Mesa de trabajo 1 copia.png');
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;
    margin-top: 70px;

}
.courses-descript p{
    font-size: 18px;
    margin-top: -20px;
}
.cc-image{
    width: 500px;
    height: 100%;
    flex-grow: 2;
    background-image: url('https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.box-courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.catalogo{
    padding: 50px 10%;
    box-sizing: border-box;
}


/*DETAIL COURSE*/
.flex{
    display: flex;
    padding: 120px 10% 30px 10%;
    justify-content: space-around;
    align-items: center;
}
.detail-descript{
    width: 500px;
    flex-grow: 1;
}
.detail-descript h2{
    font-size: 36px;
}
.detail-descript p{
    font-size: 18px;
}
.detail-badge{
    width: 450px;
    flex-grow: 1;
    text-align: right;
}
.detail-badge img{
    width: 300px;
}
.detail-author{
    display: flex;
    height: 50px;
    align-items: center;
}
.detail-author h4{
    margin-left: 10px;
    color:#696969;
    font-size: 16px;
}
.divider{
    width: 80%;
    margin: 0 auto;
    height: 1px;
    border: none;
    background-color:#a7a7a7 ;
    opacity: .2;
}
.box-detail{
    padding: 30px 10%;
}
.box-detail h2{
    font-size: 24px;
}
#box-videos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}
