.black{
    width: 100%;
    height: 70px;
    background-color: #323232;
    position: fixed;
}

.contacto{
    padding: 150px 10%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;

}
.contact{
    width: 300px;
    flex-grow: 1;
    padding: 0 0 0 50px;
}
.contact input, .contact textarea{
    width: 100%;
    height: 40px;
    border: 1px solid #e5e5e5;
    margin: 10px 0;
    padding-left: 10px;
}
.contact textarea{
    height: 80px !important;
}

.contact input::placeholder, .contact textarea::placeholder{

    opacity: .5;
}
.contact input:focus, .contact textarea:focus{

    outline: 0;
}
.contact p{
    font-size: 16px;
    text-align: center;
}

