.black{
    width: 100%;
    height: 70px;
    background-color: #323232;
    position: fixed;
    z-index: 1;
}

.contacto{
    padding: 150px 10%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;

}
.contacto iframe{

    width: 500px;
    height: 450px;
}
.contact{
    width: 400px;
    flex-grow: 1;
    padding: 0 0 0 50px;
}
.map{
    width: 400px;
    flex-grow: 1;
}
.contact input, .contact textarea{
    width: 100%;
    height: 40px;
    border: 1px solid #e5e5e5;
    margin: 10px 0;
    padding-left: 10px;
}
.contact textarea{
    height: 80px !important;
}

.contact input::placeholder, .contact textarea::placeholder{

    opacity: .5;
}
.contact input:focus, .contact textarea:focus{

    outline: 0;
}
.contact p{
    font-size: 16px;
    text-align: center;
}
@media(max-width: 769px) {
    .contacto{
        padding: 120px 10% 50px 10%;
    }
    .contacto iframe{
        width: 100%;
    }
    .contact{
        margin-top: 50px;
        padding: 0;
    }
}

