.btn-explore{
    width: 180px;
    height: 50px;
    background-color: #ca3e47;
    border: none;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    transition: all 1s ease;
    font-size: 18px;
    font-family: Avenir;

}
.btn-explore span{
    margin-right: 5px;
}

.btn-explore:hover{
    background-color:#962f35;

}

.btn-apply{
    width: 180px;
    height: 50px;
    background-color: white;
    border: 1px solid #ca3e47;
    text-transform: uppercase;
    color: #ca3e47;
    font-weight: bolder;
    cursor: pointer;
    transition: all 1s ease;
    font-size: 18px;
    font-family: Avenir;
}
.btn-apply span{
    margin-right: 5px;
    font-size: 24px;
}

.btn-apply:hover{
    background-color:#ca3e47;
    color:white;

}
.btn-user{
    background-color: #5b5764;
    width: 180px;
    height: 40px;
    border: 1px solid #5b5764;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    transition: all 1s ease;
    font-size: 16px;
    font-family: Avenir;
}

.btn-user:hover{
    background-color: #45424c;
}
