.login{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}
.login-box{
    width: 400px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    padding: 2% 3% 0% 3%;
    background-color: white;
    margin-top: 70px;
}
.login h3{
    font-size: 24px;
    color:#525252;
    text-align: center;
}
.forget{
    margin: 0;
    margin-top: -30px;
    text-align: center;
    color: #a7a7a7;
    font-size: 12px;
}
.regist{

    margin-top: 30px;
    text-align: center;
    color: #a7a7a7;
    font-size: 14px;
}
.regist:hover{
    color:#ca3e47 !important;
}
.btn-login{
    width: 120px;
    height: 40px;
    background-color: #ca3e47;
    border: none;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    transition: all 1s ease;
    font-size: 18px;
    font-family: Avenir;
}
.redes_login{
    display: flex;
    justify-content: center;
    margin: 20px 0 ;
}
.card_login h3{
    font-size: 20px;

}
.circle_f{
    background-color: #3B5998;
    width:40px;
    height:40px;
    border-radius: 50%;
    text-align: center;
    color: white;
    margin: 0 10px;
    cursor: pointer;
}
.circle_f span, .circle_g span{
    margin-top: 10px;
    font-size: 20px;
}
.circle_g{
    background-color: #DC4A38;
    width:40px;
    height:40px;
    border-radius: 50%;
    text-align: center;
    color: white;
    margin: 0 10px;
    cursor: pointer;
}
.line_log{
    height:1px;
    width:90%;
    margin: 20px 10px;
    background-color: #D6DEE6;
    border: none;
}
.division{
    display: flex;
    height: 20px;
    align-items: center;
    color: #a7a7a7;
    margin: 20px 0;
}
.ant-input:focus{
    box-shadow: 0 0 0 2px rgba(202, 62, 71, 0.2);
}
.ant-input:active{
    box-shadow: 0 0 0 2px rgba(202, 62, 71, 0.2);
}
.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled){
    border-color: #ca3e47 !important;
}
@media(max-width: 768px){
    .login-box{
        margin-top: 120px;
    }
    .login{
        height: auto;
        padding-bottom: 50px;
    }
}

@media (max-width: 550px) {
    .login-box{
        width: 80%;
        margin: 0 auto;
        margin-top: 120px;
    }
}
